<form>
  <label for="distance"> Maximum Distance </label>
  <input type="range" class="range" name="distance" min="1" max="15" id="distance">

  <label for="price"> Price </label>
  <input type="range" class="range" name="price" min="0" max="3" id="price">

  <label for="cuisine"> Cuisine </label>
  <select name="cuisine">
    <option value="American">American</option>
    <option value="Chinese">Chinese</option>
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="Greek">Greek</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Japanese">Japanese</option>
    <option value="Korean">Korean</option>
    <option value="Mexican">Mexican</option>
    <option value="Spanish">Spanish</option>
    <option value="Thai">Thai</option>
  </select>

  <input type="submit" class="fullWidth">
</form> 