div {
  margin-top: 4vh;
  margin-bottom: 4vh;
  border-style: double;
  border-width: 1vw;
  border-color: black;
  text-align: center;
  background-color: #7acfd6;
}
#restaurants_div {
  margin-left: 4vw;
  width: 45vw;
  height: 85vh;
  overflow-y: scroll;
  float: left;
}
#map_div {
  margin-right: 4vw;
  width: 40vw;
  float: right;
}