div {
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: double;
  border-width: 15px;
  border-color: black;
  text-align: center;
  background-color: #7acfd6;
}
#restaurants_div {
  margin-left: 50px;
  margin-right: 25px;
  width: 45%;
  height: 750px;
  overflow-y: scroll;
  float: left;
}
#map_div {
  margin-left: 25px;
  margin-right: 50px;
  width: 40%;
  float: right;
}