<form>
  <label for="veganFilter"> Vegan </label>
  <input type="checkbox" class="checkbox" name="veganFilter">

  <label for="price"> Price </label>
  <input type="range" class="range" name="price" min="0" max="3" id="price">

  <label for="cuisine"> Cuisine </label>
  <select name="cuisine">
    <option value="American">American</option>
    <option value="Chinese">Chinese</option>
    <option value="Indian">Indian</option>
    <option value="Italian">Italian</option>
    <option value="Mexican">Mexican</option>
    <option value="Thai">Thai</option>
  </select>

  <input type="submit" class="fullWidth">
</form> 